<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="color-scheme" content="light only">
    <style type="text/css">
    </style>

</head>

<body>

<div class="container" style="background: #ffffff;">

    <div style="text-align: center;" ><img src="cid:mail_1_pw"></div><br><br><br>

    <div style="color:#82857A;text-align:center; font-size: 16px;">
        안녕하세요.<br>
        취향 기록 서비스 ‘오감’입니다.<br><br>

        로그인을 위한<br>
        임시 비밀번호를 보내드립니다.<br><br>
    </div><br><br>

    <div class="pw" style="
    color:#1B210D;text-align:center; font-size: 36px; font-weight: bold;

border-radius: 60px;
  background: #F4F4F3;
  padding: 5px;
  margin: auto;

  width: 311px;
  height: 50px;


" th:text="${pw}" >5Gaam12*</div><br><br><br>

    <div style="color:#FF6E83;text-align:center; font-size: 16px;">
        임시 비밀번호로 재로그인 후,<br>
        새로운 비밀번호를 설정해주세요!<br><br>
    </div><br><br><br>

    <div style="text-align: center;"><img src="cid:mail_3" ></div>

</div>

</body>

</html>